@font-face {
    font-family: 'BYekan';
    src: url('../font/BYekan.ttf') format('truetype'), url('../font/BYekan.eot'), url('../font/BYekan.woff') format('woff');
}

@font-face {
    font-family: 'Vazir';
    src: url('../font/Vazir.ttf') format('truetype'), url('../font/Vazir.eot'), url('../font/Vazir.woff') format('woff');
}

.vazir {
    font-family: 'Vazir', Tahoma, Geneva, Verdana, sans-serif;
}

.BYekan {
    font-family: 'BYekan', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(235, 235, 235);
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.top-25 {
    top: 25%;
}

.RightMenu {
    width: 228px;
    max-height: 100%;
    padding-top: 60px;
    transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    background-color: #545b6b;
}

.RightMenu>* {
    width: 228px;
    transition: 0.5s;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
}

.RightMenu .nameP {
    width: 150px;
    margin-right: 70px;
    position: absolute;
}

.RightMenu.small .nameP {
    margin-right: 50px;
}

.RightMenu nav>ul {
    width: 100%;
}

.RightMenu.small {
    width: 48px;
    transition: 0.5s;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    z-index: 5;
}

.RightMenu .title {
    height: 58px;
}

.RightMenu .admin {
    height: 88px;
}

.RightMenu.small .admin {
    margin: 0 !important;
    padding-right: 6px !important;
    transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
}

.RightMenu .adminPic {
    height: 54px;
    width: 54px;
    border-radius: 100%;
    box-shadow: 2px 2px 3px 1px rgb(40, 40, 40), -1px -1px 4px 1px rgb(255, 255, 255);
    transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
}

.RightMenu .adminPic img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.RightMenu.small .adminPic {
    width: 30px !important;
    height: 30px !important;
    transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    -webkit-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
}

.RightMenu.small .adminPic img {
    width: 30px;
    height: 30px;
    transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
}

.RightMenu.small .icon-open {
    display: none;
}

.menu .item {
    border-right: 4px solid transparent;
    color: rgb(219, 219, 219);
    height: 46px;
}

.menu .itemLi.active a {
    border-left: 4px solid #eb3b5a;
    background-color: #1B9CFC;
    color: #fff;
}

.menu .item:hover {
    border-left: 4px solid #eb3b5a;
    background-color: #212529 !important;
    color: #fff;
}

.menu-title {
    height: 52px;
}

.menu-title span {
    color: rgb(220, 220, 220);
    font-size: 18px;
}

.sub-menu {
    display: none;
}

.main {
    margin-right: 228px;
    transition: 0.4s;
}

.main.wid {
    margin-right: 48px;
    transition: 0.4s;
}

.HeadMenu {
    height: 60px;
    z-index: 6;
}

.HeadMenu .badegIcon {
    right: 5px;
}

.reportCard .icon i {
    color: rgba(60, 60, 60, 0.5);
}

.reportCard .card {
    opacity: 0.9;
    transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
}

.reportCard .card:hover {
    opacity: 1;
    transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
}

.fs-5-1 {
    font-size: 1.10rem;
}

.reportCard .card .icon i {
    font-size: 38px !important;
    transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
}

.reportCard .card:hover .icon i {
    font-size: 46px !important;
    transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
}

.reportCard .card .cf-hover {
    z-index: 1;
}

.reportCard .card .cf-hover a {
    z-index: 3 !important;
}

.reportCard .card .cf-hover::after {
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    display: block;
    z-index: 2;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
}

.reportCard .card .cf-hover:hover::after {
    height: 100%;
    top: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
}