@font-face {
    font-family: 'BYekan';
    src: url('../font/BYekan.ttf') format('truetype'), url('../font/BYekan.eot'), url('../font/BYekan.woff') format('woff');
}

@font-face {
    font-family: 'Vazir';
    src: url('../font/Vazir.ttf') format('truetype'), url('../font/Vazir.eot'), url('../font/Vazir.woff') format('woff');
}

.vazir {
    font-family: 'Vazir', Tahoma, Geneva, Verdana, sans-serif;
}

.BYekan {
    font-family: 'BYekan', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(235, 235, 235);
}

a {
    text-decoration: none;
}

.top-25 {
    top: 25%;
}

header {
    z-index: 5;
}

header .badegIcon {
    right: 5px;
}

header .dropdown-toggle::after {
    display: none;
}

.sidebar {
    width: 240px;
    height: 100vh !important;
    background-color: #596275;
    overflow: auto;
    transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
}

.sidebar.close {
    width: 42px;
    transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
}

.menu {
    border-color: rgb(180, 180, 180) !important;
}

.menu .item {
    border-right: 4px solid transparent;
    color: rgb(219, 219, 219);
    height: 46px;
}

.menu .item .item-div {
    width: 100%;
}

.menu .item .item-div span {
    width: 300px !important;
    margin-right: 30px;
}

.menu .itemLi.active a {
    border-right: 4px solid #eb3b5a;
    background-color: #1B9CFC;
    color: #fff;
}

.menu .item:hover {
    border-right: 4px solid #eb3b5a;
    background-color: #212529 !important;
    color: #fff;
}

.menu-title {
    height: 52px;
}

.menu-title span {
    color: rgb(220, 220, 220);
    display: block;
    width: 220px;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-menu {
    display: none;
}

.icon-open {
    transform: rotate(0);
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.icon-open.open {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.sidebar.close .menu-title span {
    display: none;
}

.sidebar.close .item span,
.sidebar.close .item .icon-open {
    display: none;
}